.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0B1A30;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    color: #50D8D7;
  }
  